<!-- <app-action-bar [(number)]="actionBarNumber1" (numberChange)="sumResult()" [notBelow]="0" [notMore]="20" [step]="1"></app-action-bar>actionBarNumber1 {{actionBarNumber1}}
<app-action-bar [(number)]="actionBarNumber2" (numberChange)="sumResult()" [notBelow]="-10" [notMore]="200" [step]="10"></app-action-bar>actionBarNumber2 {{actionBarNumber2}}
<app-action-bar [(number)]="actionBarNumber3" (numberChange)="sumResult()" [notBelow]="-200" [notMore]="2000" [step]="100"></app-action-bar>actionBarNumber3 {{actionBarNumber3}}
<div>
    ผลรวม {{result}}
</div> -->

<!-- <button (click)="actionBarNumber1 = 100">changeActionBarNumber1</button>
<button (click)="actionBarNumber2 = 0">changeActionBarNumber2</button>
<button (click)="actionBarNumber3 = 400">changeActionBarNumber3</button> -->

<!-- <input type="text" pInputText />
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button> -->

<div class="container">
    <header class="container-header">
        <span [routerLink]="['home']">
            Home
        </span>
        <span [routerLink]="['student']">
            Student
        </span>
        <span [routerLink]="['addStudent']">
            Add Student
        </span>
    </header>
    <main class="container-main">
        Hello GitHub
        <router-outlet></router-outlet>
    </main>
</div>